<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Don amaretto Bar</h4>
      <div class="footer-mascota">
        <img src="assets/img/4.png" alt="Mascota Don Amaretto" />
      </div>
    </div>

    <div class="footer-section">
      <h4>Páginas</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/reservations">Reservas</a></li>
        <li><a routerLink="/menu">Menú</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Horarios de apertura</h4>
      <p>Martes – Jueves: 06:00pm – 01:00am</p>
      <p>Viernes – Sábado: 06:00pm – 03:00am</p>
      <p>Cra 15 #5-40, Tauramena - Casanare</p>
      <p>3213385377</p>
    </div>

    <div class="footer-section">
      <h4>Instagram</h4>
      <div class="instagram-grid">
        <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?w=300" alt="insta1" />
      </div>
    </div>
  </div>
</footer>
